.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th, .product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:hover {
    background-color: #ddd;
  }
  .minimal-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .minimal-input,
  .minimal-select,
  .minimal-file-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;
  }
  
  .minimal-input:focus,
  .minimal-select:focus,
  .minimal-file-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .minimal-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .minimal-button:hover {
    background-color: #0056b3;
  }
  .custom-file-upload {
    display: inline-block;
    position: relative;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .custom-file-upload input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-file-upload span {
    z-index: 1;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  /* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.selected-sucursal {
  text-decoration: underline; /* Subraya el texto */
  font-weight: bold; /* Puedes agregar negrita para hacerlo más prominente */
}