/* SHOP CONTENT */
img {
  width: 100%;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.shop {
  margin-top: 2rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box {
  position: relative;
  margin: 1.5rem;
}

.product-box a {
  text-decoration: none;
  color: inherit;
}

.product-box:hover {
  opacity: 0.8;
  /* Cambio de opacidad al hacer hover */
  transition: all 0.3s ease;
}
.product-box:hover img {
  border-radius: 0px;

  transition: all 0.3s ease;

}

.product-img {
  width: 250px;
  border-radius: 10px;
  /* ajusta el tamaño según tus necesidades */
  height: 250px;
  /* ajusta el tamaño según tus necesidades */
  object-fit: cover;
  /* asegura que la imagen se ajuste al tamaño especificado sin deformarse */
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: left;
}

.price {
  font-weight: 500;
  margin: 0 2px;
}

.tarjeta-precio-original {
  text-decoration: line-through;
  /* Tacha el precio original */
  color: #888;
  /* Color del precio original tachado */
}

.price-con-descuento {
  color: green;
  /* Color del precio con descuento */
}

.button-eliminar {
  background-color: #d00;
}

.button-eliminar:hover {
  background-color: rgba(221, 0, 0, 0.738);
}

.button-editar {
  background-color: #ddff00;
  color: #333;
}

.button-editar:hover {
  background-color: #ddff00ad;
}

.box-cuotas {
  width: 100%;
  border: 2px solid rgb(143, 201, 56);
}

.box-cuotas p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-weight: 300;
}