/* Estilos para la tarjeta */
/* Estilo para la tarjeta de productos */
.tarjeta {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo para la imagen */
.tarjeta-imagen-container {
  margin-bottom: 16px;
}

.tarjeta-imagen {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid #ddd;
}

/* Estilo para el título */
.tarjeta-titulo {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

/* Estilo para el precio */
.tarjeta-precio {
  font-size: 1rem;
  color: #333;
  margin-bottom: 16px;
}

/* Estilo para los botones */
.boton-quitar,
.boton-agregar,
.boton-verMas {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 8px;
  font-size: 1rem;
}

.boton-quitar:hover,
.boton-agregar:hover,
.boton-verMas:hover {
  background-color: #0056b3;
}

/* Estilo para el botón "Ver Más" */
.boton-verMas {
  background-color: #28a745;
}

.boton-verMas:hover {
  background-color: #1e7e34;
}

  
  /* Estilos para el carrito */
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.productos-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 1;
}

.button-eliminar{
	background-color: #d00;
}
.button-eliminar:hover{
  background-color: rgba(221, 0, 0, 0.738);
}
.button-editar{
  background-color: #ddff00;
  color: #333;
}
.button-editar:hover{
  background-color: #ddff00ad;
}



